.item:hover {
    -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
}

.itemNon:hover {
    -webkit-filter: drop-shadow(1px 1px 0 rgb(255, 171, 171)) drop-shadow(-1px -1px 0 rgb(255, 171, 171));
    filter: drop-shadow(1px 1px 0 rgb(255, 171, 171)) drop-shadow(-1px -1px 0 rgb(255, 171, 171));
}

.arrow {
    -webkit-filter: drop-shadow(0 0 2px rgb(50, 50, 50)) drop-shadow(0 0 2px rgb(50, 50, 50));
    filter: drop-shadow(0 0 2px rgb(50, 50, 50)) drop-shadow(0 0 2px rgb(50, 50, 50));
}

.arrow:hover {
    -webkit-filter: drop-shadow(0 0 5px rgb(255, 255, 255)) drop-shadow(0 0 5px rgb(255, 255, 255));
    filter: drop-shadow(0 0 5px rgb(255, 255, 255)) drop-shadow(0 0 5px rgb(255, 255, 255));
}

.numBtn {
    background-image: url("../../../public/assets/images/num_btn.png") !important;
    background-size: cover;
}

.active {
    -webkit-filter: drop-shadow(1px 1px 0.75rem white) drop-shadow(-1px -1px 0.75rem white);
    filter: drop-shadow(1px 1px 0.75rem white) drop-shadow(-1px -1px 0.75rem white);
}

@media screen and (max-height: 900px) {
    .image_top_pos {
        padding-top: 445px;
    }
}

.loginbg {
    background: url("../../images/login_mask.png");

    min-height: 100vh;
    height: 100%;
}

.link {
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.icon_buttons {
    display: flex;
    align-items: center;

    img {
        width: 30px;
        height: max-content;
        margin-right: 10px;
    }
}

.chapter {
    background-image: url("../../images/chapter.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 1600px;
    min-height: 900px;
    overflow: auto;
}

.section {
    background-image: url("../../images/section.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 1600px;
    overflow: auto;
}

.sectionBtn {
    background-image: url("../../images/roomBtn.png") !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.playBtn {
    position: relative;
    -webkit-filter: drop-shadow(0 0 5px rgb(224, 224, 224)) drop-shadow(0 0 5px rgb(224, 224, 224));
    filter: drop-shadow(0 0 5px rgb(224, 224, 224)) drop-shadow(0 0 5px rgb(224, 224, 224));
}

.playBtn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    left: -25%;
}

@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        -webkit-filter: drop-shadow(0 0 5px rgb(224, 224, 224)) drop-shadow(0 0 5px rgb(224, 224, 224));
        filter: drop-shadow(0 0 5px rgb(224, 224, 224)) drop-shadow(0 0 5px rgb(224, 224, 224));
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        -webkit-filter: drop-shadow();
        filter: drop-shadow();
    }
}

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}