header{
  height: 70px;
  width: 100%;
  // box-shadow: rgb(5 6 13 / 24%) 7px 2px 26px 0px;
  // background: #012420;
}

.contents{  
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  max-width: 1920px;
  // margin: auto;
  // box-shadow: rgb(5 6 13 / 24%) 7px 2px 26px 0px;
  // background: #012420;
  justify-content: space-around;
}

.Siren{
  color:white;
}

.resource{
  margin-left: 2px;
  margin-right: 2px;
  height: 29px;

  padding: 4px 10px;
  background-color: white;
  border-radius: 4px;
  white-space: nowrap;

  color: white;
  display: flex;
  align-items: center;
}

.wallet{
  display: flex;
}

.logo img{
  height: 42px;
}

.chain{
  box-sizing: border-box;
  cursor: pointer;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  // background-color: rgb(0 21 18);
  font-weight: 500;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 12px;
  padding: 8px 12px;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  height: 40px;

  img{
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    border-radius: 20px;
    margin-right: 10px;
  }
  margin-right: 10px;
}

.connectwallet{
  min-width: 120px;
  max-width: 320px;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 24px;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  background: #48bf53;
  color: white;
}

.detail{
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  background-color: #001512;
  border-radius: 12px;
  white-space: nowrap;
  cursor: pointer;
  color: white;

  .balance{
    box-sizing: border-box;
    margin: 0px;
    
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    font-weight: 500;
  }

  .address{
    max-width: 320px;
    text-align: center;
    outline: none;
    text-decoration: none;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 22px;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
    background: #48bf53;
    border: 1px solid rgb(64, 68, 79);
    color: rgb(255, 255, 255);
    font-weight: 500;

    span:first-child {
      margin-right: 0.5rem;
    }

    span{
      display: flex;
      align-items: center;
    }
  }
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 420px;
  background-color: black;
  
  box-shadow: 24px;
  padding: 4px;

  margin: 0px 0px 2rem;
  background-color: rgb(33, 36, 41);
  box-shadow: rgb(0 0 0 / 5%) 0px 4px 8px 0px;
  padding: 0px;
  width: 50vw;
  overflow: hidden;
  align-self: center;
  max-width: 420px;
  min-width: 280px;
  color: white;
  
  border-radius: 20px;

    
  .header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px;
  }

  .title{
    display: flex;
    color: white;
  }

  .close{
    width: 24px;
    cursor: pointer;
    img{
      width: 100%;
    }
  }
  .input{
    padding: 0px 20px 12px;
    display: flex;
  }

  .hr{
    width: 100%;
    height: 1px;
    background-color: rgb(21, 26, 47);
  }

  .modalContents{
    display: block;
    padding: 1rem;
    border: 1px solid rgb(64, 68, 79);
    border-radius: 20px;
    position: relative;
    display: grid;
    row-gap: 12px;
    margin-bottom: 20px;
    color: rgb(221, 221, 221);
  }

  .changewallet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      height: 54px;
      max-width: 320px;
      text-align: center;
      outline: none;
      text-decoration: none;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      z-index: 1;
      border: 1px solid rgb(95, 107, 251);
      color: rgb(95, 107, 251);
      background-color: transparent;
      border-radius: 12px;
      width: fit-content;
      font-weight: 400;
      margin-left: 8px;
      font-size: 0.825rem;
      padding: 4px 6px;
    }
  }

  .copyAddress{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .copyAddress:hover{
    opacity: 0.9;
  }

  .viewOnExplorer{
    display:flex;
    align-items:center;
    color:white;
    text-decoration: none;
  }

  .viewOnExplorer:hover{
    text-decoration: underline;

  }
};

