@font-face {
  font-family: Anime Ace;
  src: url('./fonts/anime-ace/animeace.ttf');
}

html,
body {
  background-repeat: no-repeat;
  width: 100%;
  min-height: 768px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  position: fixed;
}

body {
  font-family: Anime Ace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-size: cover; */
  /* background-position: center center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#phaser-container canvas {
  display: block;
  min-width: 1024px;
}

.btn-group {
  display: grid;
  position: absolute;
  left: 190px;
  top: 180px;
  grid-gap: 40px;
}

.btn-ligroup {
  display: flex;
  position: absolute;
  right: 70px;
  top: 480px;
  margin-top: 30px
  
}
@media screen and (max-width: 1400px) {
  .btn-ligroup {
    display: grid;
    position: absolute;
    right: 10px;
    top: 80px;
    justify-items: center;
  } 
}

.btn-wrapper {
  
  margin: auto;
}

.btn-pink {
  margin-bottom: 30px;  
  padding-top: 5px;
  width: 150px;
  height: 40px;
  font-size: 17px;
}